@import "src/styles/variables";

.sidebar {
  width: 240px;
  height: 100vh;
  background: $black;
  position: relative;

  > .toggle-activation-area {
    position: absolute;
    width: 64px;
    right: -32px;
    top: 0;
    height: 128px;

    > button.toggle-button {
      background: $accent-blue;
      color: white;
      height: 24px;
      width: 24px;
      border-radius: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      right: 18px;
      top: $margin-base;
    }

    > .toggle-gradient {
      position: absolute;
      height: 500px;
      width: 4px;
      right: 28px;
      top: 0px;
      border-radius: 0px;
      background: linear-gradient(
        180deg,
        #2e48ed 10.71%,
        rgba(39, 64, 225, 0) 86.61%
      );
    }
  }

  &.sidebar-collapsed {
    width: 64px;

    > .header {
      flex-direction: column;
    }

    > .toggle-activation-area {
      > button.toggle-button {
        transform: rotate(180deg);
      }
    }

    > .kanban-boards-menu {
      > .kanban-boards-menu-section {
        > .kanban-boards-menu-item {
          padding-left: $margin-xs;
          justify-content: center;

          > .kanban-boards-menu-item-name {
            > span {
              margin-right: 0;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: $margin-base;

    .avatar-wrapper {
      border-radius: 20px;
      overflow: hidden;
      outline: 2px solid $accent-blue;
      border: 2px solid white;
      height: 24px;
      width: 24px;
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background: $text-secondary;
    opacity: 0.2;
  }

  .actions-menu {
    padding: $margin-base;
    cursor: pointer;

    .actions-menu-item {
      padding: $margin-sm;
      font-family: $ff-semi-bold;
      color: $text-disabled;
      display: flex;
      align-items: center;
      border-radius: $br;

      span {
        margin-left: $margin-sm;
      }

      &:hover {
        color: white;
        background: $grey;
      }
    }
  }

  .kanban-boards-menu {
    padding: $margin-base;
    color: $text-disabled;

    .kanban-boards-menu-section {
      .section-title {
        display: flex;
        align-items: center;
        padding: $margin-xs;
        border-radius: $br;
        cursor: pointer;

        .section-caret-wrapper {
          display: inline-flex;
          margin-right: 12px;
        }

        .section-name {
          font-family: $ff-semi-bold;
        }

        &:hover {
          background: $grey;
          color: white;
        }
      }

      &.kanban-boards-menu-section-expanded {
        .section-title {
          .section-caret-wrapper {
            transform: rotate(90deg);
            color: white;
          }

          .section-name {
            color: white;
          }
        }
      }

      .kanban-boards-menu-item {
        padding: $margin-xs;
        display: flex;
        align-items: center;
        border-radius: $br;
        justify-content: space-between;
        padding-left: 24px;
        cursor: pointer;

        span.kanban-boards-menu-item-name > span {
          margin-right: $margin-sm;
          font-size: 10px;
        }

        span.ellipsis-wrapper {
          padding: $margin-xs;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: white;
          border-radius: $br;
          font-size: 12px;

          &:hover {
            background: #404040;
          }
        }

        &.active {
          background: $accent-blue;
          color: white;
          font-family: $ff-semi-bold;

          span.ellipsis-wrapper {
            display: none;
          }

          &:hover {
            background: lighten($accent-blue, 5%);
          }
        }

        &:hover {
          background: $grey;
          color: white;
        }
      }
    }
  }
}
