@import "src/styles/variables";

.dropdown-button {
  background: $grey;
  border-radius: $br;
  height: 36px;
  padding: $margin-sm;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 0;

    > .content {
      margin-right: 0;
      margin-bottom: $margin-sm;
    }
  }

  > .content {
    margin-right: $margin-sm;
    display: flex;
    align-items: center;
  }

  &:hover {
    background: lighten($grey, 5%);
  }
}
