$black: #171618;
$grey: #242424;

$accent-blue: #102dea;

$text-secondary: #707070;
$text-disabled: #999999;

/** Margins **/
$margin-base: 16px;
$margin-lg: $margin-base * 2;
$margin-sm: $margin-base / 2;
$margin-xs: $margin-base / 4;

$br: 4px;

/** Font Families **/
$ff: "InterRegular";
$ff-medium: "InterMedium";
$ff-semi-bold: "InterSemiBold";
$ff-bold: "InterBold";
