@use "reset";
@use "fonts";
@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $ff;
  font-size: 14px;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#__next {
  display: flex;
}
