/** Inter font which is used for print **/
@font-face {
  font-family: InterRegular;
  src: url('./Inter-Regular.otf');
}

@font-face {
  font-family: InterMedium;
  src: url('./Inter-Medium.otf');
}

@font-face {
  font-family: InterSemiBold;
  src: url('./Inter-SemiBold.otf');
}

@font-face {
  font-family: InterBold;
  src: url('./Inter-Bold.otf');
}
